In [45]:
import seaborn as sns
import pandas as pd
from sklearn import preprocessing
iris=pd.read_csv('iris.csv')

In [9]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [10]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [11]:
iris['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

In [13]:
x =iris.drop(columns='species')
y=iris['species']

In [14]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [57]:
y_train.shape

(120,)

In [15]:
model1=GaussianNB()

In [16]:
NB_model =model1.fit(x_train,y_train)
y_pred=NB_model.predict(x_test)

In [17]:
y_pred

array(['virginica', 'virginica', 'setosa', 'setosa', 'setosa',
       'virginica', 'setosa', 'virginica', 'versicolor', 'virginica',
       'virginica', 'virginica', 'virginica', 'versicolor', 'versicolor',
       'setosa', 'setosa', 'virginica', 'virginica', 'setosa',
       'versicolor', 'setosa', 'versicolor', 'versicolor', 'setosa',
       'setosa', 'setosa', 'virginica', 'versicolor', 'virginica'],
      dtype='<U10')

In [18]:
from sklearn.metrics import accuracy_score

In [19]:
print("Accuracy =",accuracy_score(y_test,y_pred))

Accuracy = 0.9

In [20]:
from sklearn.metrics import recall_score,precision_score

In [21]:
print("Precision =",precision_score(y_test,y_pred,average='micro'))

Precision = 0.9

In [22]:
from sklearn.metrics import classification_report

In [23]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        11
  versicolor       0.86      0.75      0.80         8
   virginica       0.83      0.91      0.87        11

    accuracy                           0.90        30
   macro avg       0.90      0.89      0.89        30
weighted avg       0.90      0.90      0.90        30

In [24]:
new_data =[[5.5,4.3,5.1,0.2],[4.5,2.3,2.1,0.2],[3.3,2.1,3.1,0.8]]

In [25]:
new_pred=NB_model.predict(new_data)

c:\Users\Admin\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

In [26]:
new_pred

array(['versicolor', 'setosa', 'versicolor'], dtype='<U10')

In [27]:
new_data1 =[[5.5,4.3,5.1,0.2]]

In [28]:
new_pred1=NB_model.predict(new_data1)
new_pred1

c:\Users\Admin\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

array(['versicolor'], dtype='<U10')

In [60]:
import pandas as pd
diabetes=pd.read_csv("diabetes.csv")

In [61]:
diabetes

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [62]:
diabetes['Outcome'].unique()
diabetes['Outcome'].astype(int)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int32

In [63]:
X=diabetes.drop(columns=['Outcome'])
Y= diabetes['Outcome']

In [73]:
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [74]:
Y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [71]:
x_train,y_train,x_test,y_test=train_test_split(X,Y,test_size=0.2)

In [72]:
y_train

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
155,7,152,88,44,0,50.0,0.337,36
158,2,88,74,19,53,29.0,0.229,22
307,0,137,68,14,148,24.8,0.143,21
532,1,86,66,52,65,41.3,0.917,29
86,13,106,72,54,0,36.6,0.178,45
...,...,...,...,...,...,...,...,...
57,0,100,88,60,110,46.8,0.962,31
485,0,135,68,42,250,42.3,0.365,24
92,7,81,78,40,48,46.7,0.261,42
537,0,57,60,0,0,21.7,0.735,67
223,7,142,60,33,190,28.8,0.687,61

In [52]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

#scaled the x (train and test data)
x_train_scaled = scaler.fit_transform(x_train) 
x_test_scaled=scaler.transform(x_test)

In [53]:
model2=GaussianNB()

In [54]:
NB_Model=model2.fit(x_train_scaled,Y_TRAIN)

ValueError: y should be a 1d array, got an array of shape (154, 10) instead.